/*RESET CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*RESET CSS*/

/*GENERAL STYLES*/

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
label {
	cursor: pointer;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 20px;
	margin-bottom: 16px;
}

/*GENERAL STYLES*/

.cv-app {
	font-family: 'Open Sans', sans-serif;
}

/*LEFT-SIDE*/

/*LEFT-SIDE -> COLOR SCHEME*/

.colorScheme-blue .cv-col-l {
	background: #6a1b9a;
}
.colorScheme-blue .cv-author  {
	background: #4a148c;
}
.colorScheme-blue .cv-author-name {
	color: #fff;
}

.colorScheme-red .cv-col-l {
	background: #fb3f4c;
}
.colorScheme-red .cv-author  {
	background: #db3a4a;
}
.colorScheme-red .cv-author-name {
	color: #fff;
}

/*LEFT-SIDE -> COLOR SCHEME*/

.cv-col-l {
	width: 350px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #12bd0d;
	-webkit-box-shadow: 3px 0 10px 0 rgba(0,0,0,0.5);
	box-shadow: 3px 0 10px 0 rgba(0,0,0,0.5);
	box-sizing: border-box;
}
.cv-construction {
	font-style: italic;
	position: absolute;
	top: 16px;
}
.cv-author {
	background: #05a300;
	padding: 44px;
}
.cv-author-name {
	color: #333;
	font-size: 36px;
}

.cv-contacts {
	padding: 44px;
}

/*LEFT-SIDE*/

/*RIGHT-SIDE*/

.cv-col-r {
	margin-left: 350px;
}

/*RIGHT-SIDE -> COLOR-PICKER*/

.cv-colorpicker {
	margin-left: 400px;
}
.cv-colorpicker-list {
	
}
.cv-colorpicker-item {
	margin-right: 16px;
	margin-bottom: 8px;
	display: flex;
}

/*RIGHT-SIDE -> COLOR-PICKER*/

.container {
	max-width: 460px;
	margin: 0 auto 0 90px;
}

/*RIGHT-SIDE*/